$shape-size: 300px;
$shape-x: 25px;
$shape-y: 60px;
$shape-z: 15px;

$total-items-count: 20;
$animation-timing: 22s;

.anim-holder {
    min-height: 600px;
    perspective: 2000px;
    transform-style: preserve-3d;
}

.spiral-cnt {
    animation: spinY 15s linear infinite;
    height: $shape-size * 2;
    width: 100%;
    // background-color: pink;
    transform-style: preserve-3d;
}

.shape {
    // opacity: 0;
    @include centerItem($shape-size/2, $shape-size); // w & h
    perspective: 2000px;
    transform-style: preserve-3d;
    transform-origin: right center;


    @for $itemcount from 1 through $total-items-count {
        &:nth-child(#{$itemcount}) {
            animation: spiral $animation-timing linear ($animation-timing / $total-items-count * $itemcount) infinite;
        }
    }


    div[class*="sh"] {
        border: 1px solid #000;
        background: rgba(100,200,255,0.8);
    }

    @for $i from 1 through 6 {
        div[class*="sh"]:nth-child(#{$i}) {
            @if $i < 5 {
                @include centerLeft($shape-x, $shape-y); // w & h
                transform:  translateZ($shape-x/2)
                            rotateY($i * 90deg)
                            translateZ($shape-x / 2);
            } @else {
                @include centerLeft($shape-x, $shape-x); // w & h
                $z-distance: $shape-y / 2;
                @if $i == 6 {
                    $z-distance: -$shape-y / 2;
                }
                transform:  translateZ($shape-x/2)
                            rotateX(90deg)
                            translateZ($z-distance);
            }
        }
    }
}


.reverse {
    .shape {
        animation-direction: reverse;
        transform-origin: left center;

        div[class*="sh"] {
            left: auto;
            right: 0;
            background: rgba(100,100,255,0.8);
        }
    }
}


@keyframes spiral {
    0% {
        opacity: 0;
        transform: rotateY(0deg)
                    rotateX(-20deg)
                    translateY(-100%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotateY(360deg)
                    rotateX(20deg)
                    translateY(100%);
    }
}


@keyframes spinY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
